{% endcapture %}

{% if site.compress_html.ignore.envs contains jekyll.environment %}
  {{ content }}
{% else %}


{% comment %}Initialization{% endcomment %}

{% capture _content %}{{ content }}{% endcapture %}
{% assign _profile = site.compress_html.profile %}


{% comment %}Remove end tags{% endcomment %}

{% if site.compress_html.endings == "all" %}
  {% assign _endings = "html head body li dt dd p rt rp optgroup option colgroup caption thead tbody tfoot tr td th" | split: " " %}
{% else %}
  {% assign _endings = site.compress_html.endings %}
{% endif %}
{% for _element in _endings %}
  {% capture _end %}</{{ _element }}>{% endcapture %}
  {% assign _content = _content | remove: _end %}
{% endfor %}
{% if _profile and _endings %}
  {% assign _profile_endings = _content | size | plus: 1 %}
{% endif %}


{% comment %}Remove comments{% endcomment %}

{% if site.compress_html.comments == "all" %}
  {% assign _comments = "<!-- -->" | split: " " %}
{% else %}
  {% assign _comments = site.compress_html.comments %}
{% endif %}
{% if _comments.size == 2 %}
  {% assign _comment_befores = _content | split: _comments.first %}
  {% for _comment_before in _comment_befores %}
    {% assign _comment_split = _comment_before | split: " " %}
    {% if _comment_split.first != "[if" or site.compress_html.remove_conditional_comments or _comments.first != "<!--" %}
      {% assign _comment_content = _comment_before | split: _comments.last | first %}
      {% if _comment_content %}
        {% capture _comment %}{{ _comments.first }}{{ _comment_content }}{{ _comments.last }}{% endcapture %}
        {% assign _content = _content | remove: _comment %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if _profile %}
    {% assign _profile_comments = _content | size | plus: 1 %}
  {% endif %}
{% endif %}


{% comment %}Collapse whitespace outside of <pre>{% endcomment %}

{% assign _pre_befores = _content | split: "<pre" %}
{% assign _content = "" %}
{% for _pre_before in _pre_befores %}
  {% assign _pres = _pre_before | split: "</pre" %}
  {% capture _content %}
    {{ _content }}
    {% if site.compress_html.human_readable %}
      {% if _pres.size == 2 %}{{ _nl }}<pre{{ _pres.first }}</pre{% endif %}
      {% if _pres.size != 0 %}
        {% assign _hadaline = false %}
        {% assign _lines = _pres.last | split: _nl %}
        {% for _line in _lines %}
          {% capture _line2 %}{{ _line | split: " " | join: " " }}{% endcapture %}
          {% unless _line2 == empty %}
            {% if _hadaline %}
              {{ _nl }}
            {% else %}
              {% assign _hadaline = true %}
            {% endif %}
            {{ _line | rstrip }}
          {% endunless %}
        {% endfor %}
      {% endif %}
    {% else %}
      {% if _pres.size == 2 %}<pre{{ _pres.first }}</pre{% endif %}
      {% if _pres.size != 0 %}{{ _pres.last | split: " " | join: " " }}{% endif %}
    {% endif %}
  {% endcapture %}
{% endfor %}
{% if _profile %}
  {% assign _profile_collapse = _content | size | plus: 1 %}
{% endif %}


{% comment %}Clip whitespace around elements{% endcomment %}

{% unless site.compress_html.human_readable %}
  {% if site.compress_html.clippings == "all" %}
    {% assign _clippings = "html head title base link meta style body article section nav aside h1 h2 h3 h4 h5 h6 hgroup header footer address p hr blockquote ol ul li dl dt dd figure figcaption main div table caption colgroup col tbody thead tfoot tr td th" | split: " " %}
  {% else %}
    {% assign _clippings = site.compress_html.clippings %}
  {% endif %}
  {% for _element in _clippings %}
    {% assign _edges = " <e;<e; </e>;</e>;</e> ;</e>" | replace: "e", _element | split: ";" %}
    {% assign _content = _content | replace: _edges[0], _edges[1] | replace: _edges[2], _edges[3] | replace: _edges[4], _edges[5] %}
  {% endfor %}
  {% if _profile and _clippings %}
    {% assign _profile_clippings = _content | size | plus: 1 %}
  {% endif %}
{% endunless %}


{% comment %}Output{% endcomment %}

{{ _content }}

{% if _profile %}
  <table id="compress_html_profile_{{ site.time | date: "%Y%m%d" }}" class="compress_html_profile">
    <thead>
    <tr> <td>Step <td>Bytes
    <tbody>
    <tr> <td>raw <td>{{ content | size }}
  {% if _profile_endings %}
    <tr> <td>endings <td>{{ _profile_endings }}
  {% endif %}
  {% if _profile_comments %}
    <tr> <td>comments <td>{{ _profile_comments }}
  {% endif %}
  {% if _profile_collapse %}
    <tr> <td>collapse <td>{{ _profile_collapse }}
  {% endif %}
  {% if _profile_clippings %}
    <tr> <td>clippings <td>{{ _profile_clippings }}
  {% endif %}
  </table>
{% endif %}

{% endif %}
